{% if contacts %}
<table>
	{% for person in contacts %}
		<tr bgcolor='{% cycle FFFFFF, EEEEEE as rowcolor %}'>
			<td><a href="{% url 'phonebook.views.detail' person.id %}">{{ person.name|upper }}</a></li></td>
			<td><a href="{% url 'phonebook.views.edit' person.id %}">Edit</a></li></td>
			<td><a href="{% url 'phonebook.views.delete' person.id %}">Delete</a></li></td>
		</tr>
	{% endfor %}
</table>

<p>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }} 
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</p>

{% else %}
    <p>Phonebook is empty</p>
{% endif %}

<p><a href="{% url 'phonebook.views.new' %}">Add Contact</a></p>